body 
{margin: 0; 
 background-color:rgb(255, 255, 255);
}
#ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 17%;
    background-color: rgb(228, 205, 167);
    position:fixed;
    height: 100%;
    overflow: auto;
}
#li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
 li a.active {
    background-color: rgb(36, 161, 156);
    color: white;
}
 li a:hover:not(.active) {
    background-color: rgb(50, 82, 136);
    color: white;
}
.content{
    margin-left:17%;
    padding:1px 16px;
    font-family:等线;
}
.head{
    margin-left:17%;
    padding:1px 16px; 
    font-family:Californian FB;
    font-size:4em;
    color:rgb(142, 35, 35);
    height:20%;
    text-align:center;
}








